@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Paredes<br />
    Ambato, Ecuador<br />
    <abbr title="Phone">Telf:</abbr>
    0983187903
</address>

<address>
    <strong>Support:</strong>   <a href="#" class="alert-success">daparedes15@espe.edu.ec</a><br />
</address>